<div class="jumbotron text-center" style="background-color: rgb(27, 27, 27)">
  <h2 class="display-3" style="color:white">RemindMe!</h2>
  <p style="color: white;">RemindMe to remind you!</p> 
</div>
  
<div class="container" style="margin-top: 100px">
  <div class="row">
    <div class="col-sm-6 text-center">
      <h3>View All Reminders</h3>
      <a href="/allAppointments"><button type="button" class="btn btn-dark">Reminders</button></a>
    </div>
    <div class="col-sm-6 text-center">
      <h3>View All Contacts</h3>
      <a href="/allContacts"><button type="button" class="btn btn-dark">Contacts</button></a>
    </div>
    </div>
    </div>
<div class="container" style="margin-top: 100px;">
<div class="row">
    <div class="col-sm-6 text-center">
      <h3>Create New Reminder</h3>        
      <a href="/addAppointment"><button type="button" class="btn btn-dark">New Reminder</button></a>
    </div>
    <div class="col-sm-6 text-center">
      <h3>Add New Contact</h3>  
      <a href="/addContact"><button type="button" class="btn btn-dark">New Contact</button></a>       
    </div>
    </div>
  

</div>
